<div fxLayout="column" class="full-layout">
    <div fxFlex="100%" class="full-layout-header">
        <app-full-layout-header></app-full-layout-header>
    </div>
    <div fxFlex="100%" class="full-layout-body" fxLayout="row">
        <app-full-layout-sidebar></app-full-layout-sidebar>
        <!--<div fxFlex="22%" class="full-layout-sidebar">-->
            <!--<app-full-layout-sidebar></app-full-layout-sidebar>-->
        <!--</div>-->
        <!--<div fxFlex="78%" class="full-layout-content">-->
            <!--<router-outlet></router-outlet>-->
        <!--</div>-->
    </div>
    <div fxFlex="100%" class="full-layout-footer">
        <app-full-layout-footer></app-full-layout-footer>
    </div>
</div>

<!--https://robferguson.org/blog/2018/11/10/angular-material-toolbar-and-sidenav/-->